.body-text{
    text-align: center;
    margin-top: 160px;
}
.custom-text{
    color: white;
    font-size: 28px;
    font-weight: bold;
    width: 550px;
    
}
.custom-button{
    background-color: white;
    color: black;
    font-weight: bold;
    padding-left: 0.625rem; 
padding-right: 0.625rem; 
padding-top: 0.5rem; 
padding-bottom: 0.5rem; 
border-radius: 0.375rem; /* 6px */
border-width: 0px;

}
.custom-button:hover{
    background-color: #830303;
}


@media (max-width: 767px) { 
    .custom-text{
        font-size: 15px;
        width: 300px;
    }
    .body-text{
        margin-top: 80px;
    }
    .custom-button{
        padding-top: 0.25rem; /* 4px */
    padding-bottom: 0.25rem; /* 4px */
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 12px;

    }
  }