
.custom-initial-font-size {
  font-size: 40px;
  font-weight: 200;
  color: white;

}

.custom-initial-font-size1 {
  font-size: 30px;
  color: white;


}
.card-body{
  align-items: center;
  text-align: center;
}
.shop-button{
  background-color: white;
  color: black;
  font-weight: bold;
  padding-top: 0.5rem; 
padding-bottom: 0.5rem;
padding-left: 2rem; 
padding-right: 2rem; 
border-radius: 0px;
border-width: 0px;

}
.shop-button:hover{
  color: white;
  background-color: rgb(54, 49, 83);
}

@media (max-width: 767px) { 
  .custom-initial-font-size {
    font-size: 20px;
    width: 250px;
  }
  .custom-initial-font-size1{
    font-size: 15px;

  }
  .shop-button{
    padding-top: 0.25rem; /* 4px */
    padding-bottom: 0.25rem; /* 4px */
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-size: 10px;
  }
}






